<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Global Health Hospital</title>
    <link rel="stylesheet" type="text/css" href="./styles/index.css">

</head>
<body>
 <header class="header">
    <figure>
        <img class="logo" src="images/logo.png"/>
    </figure>
     <h1 class="multicolortext">Global Health Hospital</h1>
     <figure>
         <img class="banner" src="images/banner.jpg"/>
     </figure>
 </header>
<h1>No Appointments</h1>

</body>
</html>