<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <bean id="prescription" class="com.softura.springcoredemo.models.Prescription">
     <!--DI -->
     <property name="dop" ref="date"></property>
     <property name="doctorName"  value="Vignesh"></property>
     <property name="medicineName" value="aspirin"></property>
     <property name="dosage"  value="500mg"></property>
        <property name="duration" value="3 days 0-0-1"></property>
    </bean>

    <bean id="date" class="java.util.Date">
        <property name="date" value="25">

        </property>
        <property name="month" value="4">

        </property>
        <property name="year" value="122">

        </property>
     </bean>

</beans>